<div>
    <main>
        <section>
            Section in progress...
            {{> title data=name big=true}}
            <b>({{birthdate}} - {{deathdate}})</b>
            <br>
            <br>
            Nationality: {{nationality}}
            <br>
            <br>
            Occupation: {{occupation}}
            <br>
            <br>
            Was born in: {{birthplace}}
            <br>
            <br>
            And died in: {{deathplace}}
            <br>
            <br>
            {{> title data='Known for:' big=false}}
            <ul>
                {{#each known_for}}
                <li>
                    {{this}}
                    <br>
                    <br>
                </li>
                {{/each}}
            </ul>
        </section>
        <hr>
        <section>
            {{> title data='Education' big=false}}
            <ul>
                {{#each education}}
                <li>
                    ({{year}}) - {{institution}}, {{degree}}
                </li>
                <br>
                {{/each}}
            </ul>
        </section>

        <section>
            {{> title data='Publications' big=false}}
            <ul>
                {{#each notable_publications}}
                <li>
                    ({{year}}) - <b>{{publisher}}</b> - {{title}}
                </li>
                <br>
                {{/each}}
            </ul>
        </section>

        <section>
            {{> title data='Partners' big=false}}
            <ul>
                {{#each partners}}
                <li>
                    <b>{{name}}</b> ({{years}}) - {{relationship}}
                </li>
                <br>
                {{/each}}
            </ul>
        </section>

        <section>
            {{> title data='Awards' big=false}}
            <ul>
                {{#each awards}}
                <li>
                    ({{year}}) - <b>{{title}}</b> {{description}}
                </li>
                <br>
                {{/each}}
            </ul>
        </section>

        <section>
            {{> title data='Influences' big=false}}
            {{#each influences}}
            {{this}}
            <br>
            <br>
            {{/each}}
        </section>

        <section>
            {{> title data='Influenced' big=false}}
            {{#each influenced}}
            {{this}}
            <br>
            <br>
            {{/each}}
        </section>

        <section>
            {{> title data='Quotes' big=false}}
            {{#each quotes}}
            <q>{{this}}</q>
            <br>
            <br>
            {{/each}}
        </section>

        <section>
            {{> title data='Discoveries' big=false}}
            <ul>
                {{#each major_discoveries}}
                <li>
                    ({{year}}) - <b>{{title}}</b>:
                    <br>
                    {{description}}
                </li>
                {{/each}}
            </ul>
        </section>

        <section>
            {{#with contributions}}
            {{> title data=title big=false}}
            <i>({{year}})</i>
            <br>
            <br>
            <b>{{field}}:</b>
            <br>
            {{description}}
            {{/with}}
        </section>

    </main>
</div>