{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}


<div>

    <div>
        <h1>Languages</h1>
    </div>

    {{#with web}}

    {{#each languages}}
    <ul>
        <hr />
        <li><b>Name:</b></Name:> {{name}}</li>
        <li><b>Version:</b> {{version}}</li>
        <li><b>Description:</b> {{description}}</li>

        {{#each elements}}
        <li><b>Elements:</b></li>
        <ul>
            <li>{{name}}</li>
            <li>{{description}}</li>

            {{#each attributes}}
            <li><b>Attributes:</b></li>
            <ul>
                <li>{{name}}</li>
                <li>{{description}}</li>
            </ul>
            {{/each}}

        </ul>
        {{/each}}

        {{#each properties}}
        <li><b>Properties:</b></li>
        <ul>
            <li>{{name}}</li>
            <li>{{description}}</li>

            {{#each values}}
            <li><b>Values:</b></li>
            <ul>
                <li>{{value}}</li>
                <li>{{description}}</li>
            </ul>
            {{/each}}

        </ul>
        {{/each}}

        {{#each functions}}
        <li><b>Functions:</b></li>
        <ul>
            <li>{{name}}</li>
            <li>{{description}}</li>

            {{#each parameters}}
            <li><b>Parameters:</b></li>
            <ul>
                <li>{{name}}</li>
                <li>{{type}}</li>
                <li>{{description}}</li>
            </ul>
            {{/each}}

        </ul>
        {{/each}}

        <br />
    </ul>
    {{/each}}

    {{/with}}
</div>


{{!
Цей код містить лише те, що буде виводитись в

<body> Адже наш layout/default.hbs має вже структуру HTML
    }}